---
layout: page
title: Archive
---

{% include collect-tags.html %}

<h2 id="tag">
  Tag: <small id="hash-tag"></small>
</h2>

<ul>
  {% for post in site.posts %}
  <li class="posts" data-tags="{{ post.tags | join:'|' }}">
    <h3>
      <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
      </a>
    </h3>

    {% for tag in post.tags %}
      {% include tag.html %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>

<hr />

<h1>Tags</h1>

{% comment %}list all the tags in the site{% endcomment %}
{% for tag in tags %}
  {% include tag.html %}
{% endfor %}

<hr />

<script type="text/javascript">
  'use strict';

  var posts;

  function render() {
    resetHiddenItems();

    var hashTag = window.location.hash.slice(1);

    document.getElementById('hash-tag').innerHTML = '<span class="tag"><code>' + hashTag + '</code></span>';

    if (hashTag.length === 0) {
      document.getElementById('tag').classList.add('archive-hidden');
      return;
    }

    renderPosts(hashTag);
  }

  function renderPosts(hashTag) {
    for (var i = 0; i < posts.length; i++) {
      var post = posts[i];

      if (post.tags.indexOf(hashTag) === -1) {
        post.classList.add('archive-hidden');
      }
    }
  }

  function resetHashTag() {
    window.location.hash = '';
  }

  function resetHiddenItems() {
    var hiddenPosts = document.querySelectorAll('.archive-hidden');
    for (var i = 0; i < hiddenPosts.length; i++) {
      hiddenPosts[i].classList.remove('archive-hidden');
    }
  }

  function setPosts() {
    posts = document.querySelectorAll('.posts');
    for (var i = 0; i < posts.length; i++) {
      var post = posts[i];

      post.tags = post.dataset.tags.split('|');
    }
  }

  (function main() {
    setPosts();

    window.onhashchange = render;
    document.getElementById('hash-tag').onclick = resetHashTag;

    render();
  })();
</script>
