@import './Inter.css';
@import './atom-one-dark.css';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   position: relative;

   scroll-behavior: smooth;
}

html {
   --light: #fbfbfb;
   --dark: #333336;

   --bodyColor: var(--light);
   --primaryTextColor: #333;
   --secondaryTextColor: #666;
   --borderColor: #ddd;
   --linkColor: #34d;

   --contentSize: 800px;

   --size0: 16px;
   --size1: 18px;
   --size2: 20px;
   --size3: 30px;
   --size4: 60px;
   --size5: 80px;

   background-color: var(--bodyColor);

   transition: background-color 300ms, color 300ms;

   color: var(--primaryTextColor);
   font-family: Inter, Helvetica, sans-serif;
   font-size: var(--size1);
   line-height: 1.6;
}
html.light {
   --bodyColor: var(--light);
   --primaryTextColor: #333;
   --secondaryTextColor: #666;
   --borderColor: #ddd;
   --linkColor: #34d;
}
html.dark {
   --bodyColor: var(--dark);
   --primaryTextColor: #eee;
   --secondaryTextColor: #aaa;
   --borderColor: #111;
   --linkColor: #6ae;
}

body {
   max-width: var(--contentSize);
   width: 100%;
   margin: auto;
   padding: 0 var(--size2) 25vh;
}

h1 {
   margin: 50px 0 10px;

   font-size: 36px;
}

h2 {
   margin: 40px 0 10px;

   font-size: var(--size3);
}

h3 {
   margin: var(--size3) 0 10px;

   font-size: 22px;
}

p {
   margin: var(--size0) 0;
}

button {
   cursor: pointer;
}

a {
   text-decoration: none;
   color: var(--linkColor);
}

ul,
ol {
   margin: var(--size2) 0;
   margin-left: var(--size4);
}

li {
   margin: 5px 0;
}

img {
   max-width: 100%;
}

iframe {
   height: 50vh;
}

video {
   height: 50vh;
}

figure {
   margin: var(--size3) 0;

   background-color: var(--bodyColor);
}
figure > :first-child {
   border-radius: 6px;
   border: 1px solid var(--borderColor);
}

figcaption {
   margin-top: 6px;

   color: var(--secondaryTextColor);
   font-size: var(--size0);
   text-align: center;
}

/* display */

* {
   display: flex;
   flex-direction: column;
}

head,
style,
script {
   display: none;
}

p,
p * {
   display: inline;
}

li {
   display: list-item;
}
li * {
   display: inline;
}
li ol,
li ul {
   display: flex;
}

pre code,
pre code * {
   display: inline;
}

/* components */

.contents ul {
   list-style: none;
   margin: 0;
}
.contents nav > ul {
   padding-left: 4px;
}
.contents li {
   margin: 0;
   line-height: 1.3;
}
.contents a {
   font-size: 14px;
}
.contents ul a {
   padding-left: var(--size2);
}
.contents ul ul a {
   padding-left: calc(2 * var(--size2));
}
.contents ul ul ul a {
   padding-left: calc(3 * var(--size2));
}
.contents .current-section {
   font-weight: bold;
}
.contents .current-section::before {
   content: '\203A';

   position: absolute;
   left: 0;

   color: var(--secondaryTextColor);
   font-size: var(--size1);
}
@media (min-width: 1300px) {
   .contents {
      position: fixed;
      top: 270px;
      left: calc(50% + var(--contentSize) / 2 + var(--size3));
      width: calc(50% - var(--contentSize) / 2 - var(--size3));
   }
}

.dot {
   margin: 0 calc(var(--size2) / 2);

   color: var(--secondaryTextColor);
   text-align: center;
}

.lamp {
   width: var(--size3);
   margin-left: var(--size2);

   background: none;
   border: none;
}
.lamp svg {
   width: 100%;
}
.lamp circle {
   stroke: var(--primaryTextColor);
}
.lamp path:first-of-type {
   fill: var(--dark);
   stroke: var(--dark);
}
.lamp path:last-of-type {
   fill: var(--light);
   stroke: var(--light);
}

.main-nav {
   margin: var(--size4) 0 var(--size2);

   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}
.main-nav nav {
   flex-grow: 1;
}
.main-nav ul {
   align-items: center;
}
.main-nav li:first-of-type {
   margin-right: auto;
}
.main-nav li + li {
   margin-left: var(--size2);
}
.main-nav h1 {
   margin: 0;
}
.main-nav h1 a {
   color: var(--primaryTextColor);
}
.main-nav a {
   color: var(--secondaryTextColor);
}

.nav-list {
   flex-direction: row;
   flex-wrap: wrap;

   margin: 0;

   list-style: none;
}

.post-date {
   color: var(--secondaryTextColor);
}

.post-heading a {
   align-self: flex-start;

   color: var(--primaryTextColor);
}
.post-heading + .post-heading,
.post-heading + article p:first-child {
   margin-top: 0;
}

.related-posts {
   margin-top: var(--size4);
}
.related-posts ul {
   justify-content: space-between;
}
.related-posts li:nth-of-type(2) {
   margin-left: var(--size2);
}
.related-posts .related-posts-next {
   margin-left: auto;
}

.read-more {
   margin-top: var(--size2);
   align-self: flex-start;
}

.social-links {
   margin-top: var(--size4);
}
.social-links ul {
   justify-content: center;
   align-items: center;
}

/* code block */

.hljs {
   padding: var(--size1) var(--size2);

   font-size: var(--size0);
   line-height: 1.4em;
}

/* fonts-loader */

.fonts-loader {
   position: fixed;
   visibility: hidden;
   top: -200%;
   left: -200%;

   font-family: Inter;
}
