.center {
  display: table;
  margin: auto;
}

.center-block {
  display: table;
  margin: auto;
  width: 100%;
}

iframe.demo {
  padding: 10px;
  width: 100%;
  box-shadow: inset 0 0 20px -2px lightgray;
  border-radius: 4px;
}

.tag {
  margin: 2px 0;
  display: inline-block;
}

.tag code {
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}

.tag code {
  background-color: #eee;
  color: #888;
}

.tag code::before {
  content: '#';
}

#hash-tag {
  cursor: pointer;
  font-size: 0.7em;
}

#hash-tag:hover * {
  text-decoration: line-through;
}

.archive-hidden {
  display: none;
}

pre {
  overflow-x: auto;
  white-space: pre;
}

a code {
  color: #268bd2;
}

.social {
  margin: 10px;
  text-align: center;
}

.social a {
  font-size: 18px;
  margin: 0 8px;
}

p {
  font-family: Georgia, serif;
  letter-spacing: .01rem;
  font-size: 18px;
  line-height: 1.58;
}

.post {
  margin-bottom: 2em;
}
