* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

div {
  padding: 10px;
  overflow: hidden;
}

.arrow,
.node {
  float: left;
  padding: 5px;
}

.arrow {
  margin: 0 5px;
}

.node {
  background-color: #eee;
  border: 2px dotted transparent;
}
.node.active {
  background-color: #ccd;
  border-color: steelblue;
}
.node.deleted {
  background-color: #faa;
}
